@keyframes loadingFade {
  from {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes validationSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInMenus {
  0% {
    opacity: 0;
		transform: translateY(40px);
  }
  100% {
    opacity: 1;
		transform: translateY(0);
  }
}
