$ff-base: 'Roboto', sans-serif;
$ff-alt: 'Shrikhand', cursive;

$fs-base: 16px;

$clr-primary: #9356DC;
$clr-primary-lt: lighten($clr-primary, 10%);;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-alt: #d6d6d6;
$clr-alt-lt: lighten($clr-alt, 10%);