.intro {
  @include center;
  margin: 2em;
  background: $clr-alt-lt;
  &__city {
    color: $clr-alt-dk;
    background: $clr-alt;
    padding: 1em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    i {
      padding-right: 1em;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 300;
  }
}