* {
  box-sizing: border-box;
  font-family: $ff-base;
  font-size: $fs-base;
  margin: 0;
  border: 0;
}

/*
.logo,
h1,
h2,
h3
{
  font-family: $ff-alt;
}
*/ 

h2 {
  display: block;
  text-align: left;
  font-size: 26px;
  margin: 0.5em 0;
}

a {
  color: black;
  text-decoration: none;
}